<!-- "Menu Bar" -->
<h3><%= link_to("Home", books_path) %></h3>

<h1><%= @book.title %></h1>
ID: <%= @book.id %><br/>

<%= link_to("Edit this book", edit_book_path(@book)) %>
<%= link_to("Delete this book", delete_book_path(@book)) %>